

col-12 text-center {
    color: black;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}


.appointment-content-inner .form-group .form-control {
    min-width: 265px;
    height: 60px !important;
    font-size: 1.8rem;
}

.appointment-content-inner .form-group {
    padding-left: 5px;
}

.form-group {
    margin-bottom: 1rem;
}




.appointment-content > .container {
    margin-bottom: 40px;
    padding: 35px 35px 35px 20px;
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
 
    
  
   
}



.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.appointment-content-inner h3 {
    font-family:cursive;
    font-size: 55px;
    color: white;
}

* {
    box-sizing: border-box;
}

appointment-content-inner .btn-black {
    font-size: 22px;
    font-family: cursive;
    padding: 15px 50px;
}

button:hover {
    outline: none;
}


.appointment-content p {
    color: black;
    font-size: 27px;
    margin-top: 11px;
}

.appointment-content-inner form.form-full {
    max-width: inherit;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

gutters > [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-auto {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.appointment-content.appointment-content-red .container {
    background: #cf381d;
}

.appointment-content > .container {
     
    margin-bottom: 40px;
    padding: 35px 35px 35px 20px;
    max-width: 1290px;
}
.container-margin-top {
    margin-top: 786px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.appointment-content-inner .btn-black {
    padding: 15px 50px;
    font-size: 22px;
    font-family: inherit;
}

button:hover {
    outline: none;
}

element.style {
}

.appointment-content-inner .btn-black {
    padding: 15px 50px;
    font-size: 22px;
    font-family: inherit;
    outline: none;
}

.btn-black {
    background: #000;
    font-size: 12px;
    color: #fff
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.appointment-content-inner .custom-checkbox {
    color: #fff;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-right: -4px;
    cursor: pointer;
    font-size: 1.200em;
}

h2 {
    font-family: cursive;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
    text-align: center;
    font-size: 59px;
}
 h2 {
    margin-top: -9px;
    margin-bottom: 29px;
}
.footer-heading {
    font-size: 60px;
    color: #b3a26c;
    font-weight: 300;
    margin-bottom: 14px;
    font-family: 'OpenSansHebrewLight';
    direction: ltr;
    text-align: center;
}