body {
    margin-top:30px;
    direction:rtl;
}
table {
    margin-bottom: 100px;
}
.disaleRow {
  color:red;
}
.disaleLink {
    pointer-events: none;
    color: red;
    text-decoration-color:red;
}
.SearchTxtBoxWrapper {}