

<link href="~/css/gym.css" rel="stylesheet" />
<section class="banner-small" style="background-image:url('http://magazine.yad2.co.il/wp-content/uploads/2018/01/4_744.jpg')">
    <div class="banner-small-caption">
        
            <div class="col-sm-12 text-center">
                <h1 class="font-bold text-uppercase">OUR STORY</h1>

            </div>
        </div>
    

</section>




