

<link href="~/css/gym.css" rel="stylesheet" />

<link href="~/css/form.css" rel="stylesheet" />
<section class="banner-small" style="background-image:url('http://magazine.yad2.co.il/wp-content/uploads/2018/01/4_744.jpg')">
    <div class="banner-small-caption">

        <div class="col-sm-12 text-center">
            <h1 class="font-bold text-uppercase">OUR STORY</h1>

        </div>
    </div>

</section>
<section class="appointment-content ">
    <div class="container ">
        <div class="appointment-content-inner">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading mt-0">

                        <span>רוצים להיות חברים שלנו? בואו נכיר קצת קודם:</span>
                    </h2>
                    <p><strong>לא על הכושר לבדו</strong><strong> – על איכות חיים לא מתפשרים!</strong></p>
                    <p1>האידיאולוגיה העיקרית בה דוגלת הקבוצה שלנו , מלבד כמובן קיום וקידום של אורח חיים בריא, תזונה נכונה, פעילות ספורטיבית ושגרה פעילה ומהנה, היא עשייה של כל זאת בסטנדרטים גבוהים ובלתי מתפשרים של איכות – מרמת הציוד הטכני, דרך רמת המאמנים האישיים המקצועיים בשלל התחומים ועד למגוון הרחב של פעילויות, סדנאות וחוגים שאנו מציעים לחברי המועדון שלנו.</p1>
                    <p1>מלבד מועדון כושר כהלכתו, הכולל כאמור את כל הציוד, המכשור והליווי לו אתם זקוקים באימונים הספורטיביים העיקריים שלכם, אנו מציעים לכם מעטפת מלאה של שירותים למתאמן המתחיל והמקצועי. תוכלו למצוא אצלנו אימונים אישיים וקבוצתיים מסוגים שונים, מגוון רחב של שיעורי סטודיו למתחילים ומתקדמים וסדנאות תזונה מקצועיות המועברות על ידי דיאטניות מוסמכות כהעשרה משלימה בנוסף לכושר עצמו.</p1>
                    <p>אתם עדיין פה? הצטרפו עוד היום ותתחילו ליהנות</p>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="appointment-content appointment-content-red">
    <div class="container ">
        <div class="appointment-content-inner">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="mb-3">לפגישת היכרות והצטרפות השאירו פרטים</h3>
                    <p>אנא מלאו את הפרטים הבאים ונציג יחזור אליכם בהקדם</p>
                </div>
            </div>
            <style>
                .error {
                    color: #FFF;
                }
            </style>
            <form id="FormInnerPage" class="form-full" action="/Home/tnxpage" method="POST" >

                <div class="row no-gutters">
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" id="fullname" name="fullname" type="text" placeholder="שם מלא*" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" type="tel" pattern="^[0-9-+\s()]*$" placeholder="טלפון*" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
     
                            <input class="form-control" id="email" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="דוא”ל*" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <select asp-items="@(new SelectList(ViewBag.branchesLst,"-סניף-"))" name="club" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input type="submit" id="mailBtn" class="btn-black ContactFormClubSubmit" value="שלח" />

                            @*<button type="submit" class="btn-black ContactFormClubSubmit" href="https://localhost:44353/home/tnxpage">שלח</button>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="custom-checkbox" for="terms-inner">
                                <input type="checkbox" value="1" name="terms" class="form-check-input" id="terms-inner">
                                <span class="checkmark"></span>
                                נא עדכנו אותי על מבצעים והטבות בסמס, מייל וכו'
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>




