
<link href="~/css/contact.css" rel="stylesheet" />
<script src="~/js/Mail.js"></script>

<section class="banner-small" style="background-image:url('http://www.yokneam.biz/wp-content/uploads/%D7%97%D7%93%D7%A8-%D7%9B%D7%95%D7%A9%D7%A8-%D7%91%D7%99%D7%A7%D7%A0%D7%A2%D7%9D.jpg')">
    <div class="banner-small-caption">

        <div class="col-sm-12 text-center">
            <h1 class="font-bold text-uppercase">אנחנו כאן לשירותך</h1>

        </div>
    </div>
</section>

<section class="appointment-content appointment-content-red">
    <div class="container">
        <div class="appointment-content-inner">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="mb-3">הצוות שלנו ישמח לעמוד לרשותך</h3>
                    <p>אנא השאר את פרטי פנייתך במלואם על מנת שנוכל להשיב במהרה.</p>
                </div>
            </div>
            <style>
                .error {
                    color: #FFF;
                }
            </style>
            <form id="FormInnerPage" class="form-full" action="/Home/tnxpage" method="POST">

                <div class="row no-gutters">
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" id="fullname" name="fullname" type="text" placeholder="שם מלא*" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" type="tel" pattern="^[0-9-+\s()]*$" placeholder="טלפון*" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">

                            <input class="form-control" id="email" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="דוא”ל*" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <select asp-items="@(new SelectList(ViewBag.branchesLst,"-סניף-"))" name="club" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" id="description" name="description" type="text" placeholder="תיאור הפניה">
                        </div>
                    </div>

                    <div class="col-12 col-sm-auto">
                        <div class="form-group" id="sendButton">
                            <input type="submit" id="mailBtn" class="btn-black ContactFormClubSubmit" value="שלח" />

                            @*<button type="submit" class="btn-black ContactFormClubSubmit" href="https://localhost:44353/home/tnxpage">שלח</button>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="custom-checkbox" for="terms-inner">
                                <input type="checkbox" value="1" name="terms" class="form-check-input" id="terms-inner">
                                <span class="checkmark"></span>
                                נא עדכנו אותי על מבצעים והטבות בסמס, מייל וכו'
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</section>




