@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/form.css" rel="stylesheet" />

<section class="appointment-content appointment-content-red">
    <div class="container">
        <div class="appointment-content-inner">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="mb-3">לפגישת היכרות והצטרפות השאירו פרטים</h3>
                    <p>אנא מלאו את הפרטים הבאים ונציג יחזור אליכם בהקדם</p>
                </div>
            </div>
            <style>
                .error {
                    color: #FFF;
                }
            </style>
            <form id="FormInnerPage" class="form-full" action="~/Views/Home/tnxpage.cshtml" method="POST" novalidate="novalidate">
                <input type="hidden" id="utm_source" name="utm_source" value="">
                <input type="hidden" id="utm_medium" name="utm_medium" value="">
                <input type="hidden" id="utm_campaign" name="utm_campaign" value="">
                <input type="hidden" id="utm_content" name="utm_content" value="">
                <input type="hidden" id="utm_term" name="utm_term" value="">
                <input type="hidden" id="gclid" name="gclid" value="">
                <input type="hidden" id="rtsd_routes" name="rtsd_routes" value="">
                <input type="hidden" id="os" name="os" value="">
                <input type="hidden" id="browser" name="browser" value="">
                <input type="hidden" id="device" name="device" value="">                        <input type="hidden" name="deal" value="מאי. מסלול ההטבות">
                <input type="hidden" name="description" value="מאי. מסלול ההטבות">
                <input type="hidden" name="prms" value="207">
                <input type="hidden" name="hpc" value="302">
                <div class="row no-gutters">
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" name="fullname" type="text" placeholder="שם מלא*">
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" name="phone" type="text" placeholder="טלפון*">
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <input class="form-control" name="email" type="text" placeholder="דוא”ל">
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <select class="form-control" name="club">
                                <option disabled="" selected="">בחר סניף*</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <button type="submit" class="btn-black ContactFormClubSubmit">שלח</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="custom-checkbox" for="terms-inner">
                                <input type="checkbox" value="1" name="terms" class="form-check-input" id="terms-inner">
                                <span class="checkmark"></span>
                                נא עדכנו אותי על מבצעים והטבות בסמס, מייל וכו'
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h2 class="footer-heading">One life.Live it well.</h2>
</section>




