

<link href="../../wwwroot/css/gym.css" rel="stylesheet" />
<section class="banner-small2">
    <div class="banner-small-caption">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 text-center toda">
                    <p class="toda_text">
                        תודה! פרטיך התקבלו בהצלחה<br>
                        נציגינו ייצרו איתך קשר בהקדם
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



